* {
    all: unset;
    font-family: Cantarell;
}

.clock {
    .time,
    .date {
	font-weight: 300;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, .96);
    }
    .time {
	font-size: 5rem;
    }
    .date {
	font-size: 3rem;
    }
}

.bar {
    background-color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: 700;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    icon-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}
