* {
  font-family: Cantarell;
  font-size: 13px;
  font-weight: bold;
}

.bar {
  background: black;
  color: white;
}

.media-button {
  border: none;
  background-image: none;
  box-shadow: none;
  border: none;
  padding: 0px;
}

.media-player {
  background: none;
}

.big-clock {
  background: transparent;
  color: white;
}

.clock-time {
  letter-spacing: -0.02em;
  font-size: 12rem;
}

.clock-date {
  font-size: 3rem;
  border: none;
}
